<br><br>
<div class="container text-center">
    <table>
    <h1 id="notice"><%= notice %></h1>
    <% if user_signed_in? %>
    <div class="row row-cols-1 row-cols-md-3">
        <% @cohorts.each do |cohort| %>
            <div class="col-sm-3">
                <div class="card" id="background">
                    <div class="card-body">
                        <h5 class="card-title"> <%= cohort.name %></h5>
                        <p class="card-text"><%= cohort.professor.full_name %></p>
                        
                        <%= link_to 'Edit', edit_cohort_path(cohort), method: :get, :class => "btn btn-primary edit-btn" %>
                        <%= link_to 'Cancel', cohort_path(cohort), method: :delete, :class => "btn btn-primary delete-btn" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    
    <% else %>
    <div class="row row-cols-1 row-cols-md-3">
        <% @cohorts.each do |cohort| %>
            <div class="col-sm-3">
                <div class="card" id="background">
                    <div class="card-body">
                        <h5 class="card-title"> <%= cohort.name %></h5>
                        <%= link_to 'Revelio', cohort, :class => "btn btn-primary" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    

    <% end %>

    
    <br>
    <% if user_signed_in? %>
        <a class="btn btn-primary" href="/cohorts/new" role="button">New Class</a>
    <% end %>
</div>

<%= stylesheet_link_tag 'cohort', media: 'all', 'data-turbolinks-track': 'reload' %>

<style>

.card{
    font-family: cursive;
    margin-bottom: 20px;
}

#center {
    width: 50%;
    margin: 0 auto;
}

#background {
    background-color: rgba(0,0,0,0.6)
}

body {
    color:  white;
    font-size: 15px;
}
</style>
