<br>
<div class="container">
  <div class="card-columns text-center text-white">

    <div class="card bg-success">
      <div class="card-body">
        <h5 class="card-title"><%= "Professor " + @professors[0].full_name %></h5>
        <p class="card-text">House: <%= @professors[0].house.name %></p>
      </div>
    </div>


    <div class="card bg-warning">
      <div class="card-body">
        <h5 class="card-title"><%= "Professor " + @professors[1].full_name %></h5>
        <p class="card-text">House: <%= @professors[1].house.name %></p>
      </div>
    </div>    

    <div class="card bg-primary">
      <div class="card-body">
        <h5 class="card-title"><%= "Professor " +  @professors[2].full_name %></h5>
        <p class="card-text">House: <%= @professors[2].house.name %></p>
      </div>
    </div>

    <div class="card bg-danger">
      <div class="card-body">
        <h5 class="card-title"><%= "Professor " + @professors[3].full_name %></h5>
        <p class="card-text">House: <%= @professors[3].house.name %></p>
      </div>
    </div>

  </div>  
</div>


<style>
.card-columns {
  column-count: 3;
}
</style>