<br>
<div class="container text-center">
    <table>
    <h1 id="notice"><%= notice %></h1>
        <% if user_signed_in? %>
            <thead>
            <tr>
                <th>Student First Name</th>
                <th>Student Last Name</th>
                <th>House</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
        <% else %>
            <thead>
            <tr>
                <th>Student First Name</th>
                <th></th>
            </tr>
            </thead>
        <% end %>  
        
        <tbody>
            <% @students.each do |student| %>
                <tr>
                <% if user_signed_in? %>
                    <td><%= student.first_name %></td>
                    <td><%= student.last_name %></td>
                    <td><%= student.house.name %></td>
                    <td><%= link_to 'Edit', edit_student_path(student), :class => "btn btn-primary edit-btn" %></td>
                    <td><%= button_to 'Avada Kedavra', student_path(student), method: :delete, :class => "btn btn-primary delete-btn" %></td>
                <% else %>
                    <td><%= student.first_name %></td>
                    <td><%= link_to 'Revelio', student, :class => "btn btn-primary" %></td>
                <% end %>                
                </tr>
            <% end %>
        </tbody>
    </table>
  <br>
  <a class="btn btn-primary" href="/students/new" role="button">New Student</a>
</div>

<style>
table, th, td {
    border: 3px solid black;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

th {
    text-align: center;
    color: white;
    font-weight: bold;
    filter: grayscale(1) contrast(9) drop-shadow(.05em .05em black);
}

td {
    font-weight: bold;
	font: cursive;
	text-align: center;
	filter: drop-shadow(.05em .05em black);
}

tr {
    background-color: rgba(0,0,0,0.6)
}
body {
    color:  #EFD777;
    font-size: 15px;
}
</style>