<!DOCTYPE html>
<html>
  <head>
    <title>Hogwarts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('icon.ico') %>
    <%= render 'layouts/navigation' %>
  </head>

  <body> 
    <%= yield %>
  </body>
</html>
