<!DOCTYPE html>
<html>
  <head>
    <title>Hogwarts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "rails-ujs" %>
    <%= favicon_link_tag asset_path('icon.ico') %>
    <%= render 'layouts/navigation' %>
  </head>

  <body> 
    <% if !flash[:alert].nil? %>
      <h1 class="my_alert"><%= flash[:alert] %></h1>
    <% end %>
    <%= yield %>
  </body>
</html>
